!Xft.dpi: 144
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! NORD COLORS
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
!*fading: 35
!*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6


! __  __  ____                     __
!/\ \/\ \/\  _`\                  /\ \__
!\ \ \ \ \ \ \L\ \   __  _  __  __\ \ ,_\
! \ \ \ \ \ \ ,  /  /\ \/ \/\ \/\ \\ \ \/
!  \ \ \_\ \ \ \\ \ \/>  </\ \ \_/ |\ \ \_
!   \ \_____\ \_\ \_\/\_/\_\\ \___/  \ \__\
!    \/_____/\/_/\/ /\//\/_/ \/__/    \/__/
!
URxvt.perl-ext-common: default,matcher,resize-font,clipboard,keyboard-select,url-select

URxvt.scrollBar: false
URxvt*scrollTtyKeypress: true
URxvt.font: xft:Source Code Pro:size=13, xft:Dejavu Sans Mono for Powerline:size=13

! Clickable links
! 
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.underline: true
URxvt.url-select.launcher: firefox

! keyboard-select
URxvt.keysym.M-s: perl:keyboard-select:activate
URxvt.keysym.M-r: perl:keyboard-select:search

!   Clicked highlight
!   
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.colorUL: #4682B4

! clipboard
!
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

! Appearence
!
URxvt.cursorBlink: 1
URxvt.internalBorder:  40

